.splashScreen
{
	width:308px;
	height:248px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-124px 0 0 -154px;
	z-index:1000
}
.splashScreenOverlay
{
	position:absolute;
	width:100%;
	height:100%;
	background-color: #ffffff;
	z-index:999
}
.ui-layout-center, .ui-layout-center .pane, .ui-layout-east
{
	padding: 0;
}
.editorLabel
{
	position:absolute;
	right:0;
	background-color: #eeeeee;
	border:1px solid #cccccc;
	padding:3px;
	border-radius: 10px;
	z-index:10;
}

.ui-layout-west
{
	font-size:small;
}

.buttonImg 
{
	vertical-align: middle;
	margin-bottom: 2px;
	margin-right: 2px
}

.ui-button-text
{
	padding: 1px 5px !important;
	font-size: 15px;
}
.CodeMirror
{
	height:100%
}